@charset "UTF-8";

body {
	background-color: #FFF0F5;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	color: #333;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 100vh;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	background-color: rgb(138, 6, 145);
	color: white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

header .header-content {
	flex-grow: 1;
	text-align: center;
}

.home-link, .logout-link {
	color: white;
	text-decoration: none;
	margin: 0 20px;
}

form {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 600px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin-bottom: 40px;
}

form label, form button {
	width: 100%;
	margin-bottom: 10px;
}

form input, form select, form textarea, .form-group select, .form-group textarea,
	.form-group input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
}

.form-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

label {
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

input, select, textarea {
	width: 300px;
}

.buttons-container {
	margin-top: 20px;
	display: flex;
	gap: 20px;
	justify-content: center;
}

.large-textarea {
	min-height: 150px;
}

.container {
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
	background-color: hsl(31, 82%, 64%);
	padding: 5px 15px;
	border: none;
	border-radius: 24px;
	cursor: pointer;
	transition: all 0.3s ease;
	/* Smooth transition for hover/active effects */
	margin-top: 15px;
}

/* Active States */
button:active {
	background-color: hsl(31, 82%, 44%); /* Darker shade for active state */
	transform: scale(0.98); /* Slightly shrink the button on press */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce shadow intensity */
}

/* Hover Effects */
button:hover {
	background-color: hsl(31, 82%, 54%);
	/* Slightly darker shade on hover */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	/* Add subtle shadow effect */
	transform: scale(1.05); /* Slightly enlarge the button */
}

button.reset:hover {
	background-color: hsl(31, 82%, 54%);
	/* Same hover effect as "Register" */
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table, th, td {
	border: 1px solid #ccc;
}

th, td {
	padding: 10px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.error {
	color: red;
}

.required:before {
	content: '* ';
	color: red;
}