<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Doctor Dashboard</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/doctordashboardstyles.css}">
<link rel="stylesheet" th:href="@{/css/fragmentstyles.css}">
</head>
<body>
	<div class="wrapper">
		<!-- Include Header Fragment -->
		<div th:replace="~{fragments/header :: header}"></div>

		<div class="main-container">
			<div class="side-container">
				<!-- Personal Information Card -->
				<section class="info-card">
					<h2>Doctor Information Card</h2>
					<div th:if="${doctor != null}">
						<div>
							<strong>Name:</strong> <span th:text="${doctor.doctorName}"></span>
						</div>
						<div>
							<strong>Contact Number:</strong> <span
								th:text="${doctor.contactNumber}"></span>
						</div>
						<div>
							<strong>Qualification:</strong> <span
								th:text="${doctor.qualification}"></span>
						</div>
						<div>
							<strong>Specialization:</strong> <span
								th:text="${doctor.specialization}"></span>
						</div>
						<div>
							<strong>Experience:</strong> <span
								th:text="${doctor.experience + ' Years'}"></span>
						</div>
						<div class="edit-link-wrapper">
							<a
								th:href="@{/api/v1/users/edituserprofile(source='doctordashboard')}">
								<i class="fas fa-user-edit"></i> Edit Profile
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="content-container">
				<!-- Tabs Section -->
				<div class="tabs">
					<button class="tablinks" onclick="openTab(event, 'Schedule')">My
						Schedule</button>
					<button class="tablinks active"
						onclick="openTab(event, 'Appointments')">Today's
						Appointments</button>
					<button class="tablinks" onclick="openTab(event, 'PatientRecords')">Patient
						Records</button>
					<button class="tablinks" onclick="openTab(event, 'Prescriptions')">Active
						Prescriptions</button>
					<button class="tablinks" onclick="openTab(event, 'Messages')">Messages
						&amp; Notifications</button>
				</div>
				<!-- Tab Content Section -->

				<div id="Schedule" class="tabcontent">
					<h3 class="centered-text">My Schedule</h3>
					<p>Manage your availability and appointments</p>
					<ul>
						<li><a
							th:href="@{/api/v1/doctor/createschedule(doctorID=${doctor.doctorID}, source='doctordashboard')}">Create
								Schedules</a></li>
						<li><a
							th:href="@{/api/v1/doctor/viewallschedules(doctorID=${doctor.doctorID}, source='doctordashboard')}">View All Schedules</a></li>
					</ul>
				</div>
				<div id="Appointments" class="tabcontent">
					<h3 class="centered-text">Today's Appointments</h3>
					<p>View and Manage Today's Appointments</p>
					<br>
					<h4>
						<i>New Appointments</i>
					</h4>
					<div th:with="newAppointments=${appointments.?[!isFollowup]}">
						<div
							th:if="${newAppointments != null and !newAppointments.isEmpty()}">
							<table>
								<thead>
									<tr>
										<th>Time</th>
										<th>Patient Name</th>
										<th>Reason for Visit</th>
										<th>Schedule</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="appointment : ${newAppointments}">
										<td th:text="${appointment.appointmentTime}"></td>
										<td><a
											th:href="@{'/api/v1/treatments/createtreatment'(appointmentID=${appointment.appointmentID}, source='doctordashboard')}"
											th:text="${appointment.patient.patientName}"></a></td>
										<td th:text="${appointment.reasonToVisit}"></td>
										<td th:text="${appointment.appointmentStatus}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div
							th:if="${newAppointments == null or newAppointments.isEmpty()}">
							<p>No New Appointments for Today!</p>
						</div>
					</div>
					<br>
					<h4>
						<i>Follow-up Appointments</i>
					</h4>
					<div th:with="followupAppointments=${appointments.?[isFollowup]}">
						<div
							th:if="${followupAppointments != null and !followupAppointments.isEmpty()}">
							<table>
								<thead>
									<tr>
										<th>Time</th>
										<th>Patient Name</th>
										<th>Reason for Visit</th>
										<th>Schedule</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="appointment : ${followupAppointments}">
										<td th:text="${appointment.appointmentTime}"></td>
										<td><a
											th:href="@{'/api/v1/treatments/createfollowuptreatment'(appointmentID=${appointment.appointmentID}, source='doctordashboard')}"
											th:text="${appointment.patient.patientName}"></a></td>
										<td th:text="${appointment.reasonToVisit}"></td>
										<td th:text="${appointment.appointmentStatus}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div
							th:if="${followupAppointments == null or followupAppointments.isEmpty()}">
							<p>No Follow-up Appointments for Today!</p>
						</div>
					</div>
				</div>

				<div id="PatientRecords" class="tabcontent">
					<h3 class="centered-text">Patient Records</h3>
					<p>Access and Update Patient Medical Records</p>
					<ul>
						<li><a
							th:href="@{/api/v1/search/searchuser(doctorID=${doctor.doctorID}, source='doctordashboard')}">Search/
								Update Patients</a></li>
						<li><a
							th:href="@{/api/v1/search/searchtreatments(doctorID=${doctor.doctorID}, source='doctordashboard')}">Search/
								Update Treatment Details</a></li>
					</ul>
				</div>

				<div id="Prescriptions" class="tabcontent">
					<h3 class="centered-text">Active Prescriptions</h3>
					<p>View and Manage Active Prescriptions</p>
					<div
						th:if="${activeprescriptions != null and !activeprescriptions.isEmpty()}">
						<table>
							<thead>
								<tr>
									<th>Prescription ID</th>
									<th>Patient Name</th>
									<th>Diagnosis</th>
									<th>Number of Medications Prescribed</th>
									<th>Prescription Date</th>
									<th>Treatment Status</th>
									<th>Follow-Up Needed</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="prescription : ${activeprescriptions}">
									<td><a
										th:href="@{'/api/v1/prescriptions/viewprescription'(prescriptionID=${prescription.prescriptionID}, source='doctordashboard')}"
										th:text="${prescription.prescriptionID}"></a></td>
									<td th:text="${prescription.patientName}"></td>
									<td th:text="${prescription.diagnosis}"></td>
									<td th:text="${prescription.numberOfMedications}"></td>
									<td th:text="${prescription.prescriptionDate}"></td>
									<td th:text="${prescription.treatmentStatus}"></td>
									<td th:text="${prescription.followUpNeededDisplay}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div
						th:if="${activeprescriptions == null or activeprescriptions.isEmpty()}">
						<p>No Active Prescriptions!</p>
					</div>
				</div>

				<div id="Messages" class="tabcontent">
					<h3 class="centered-text">Messages &amp; Notifications</h3>
					<p>View all your messages and notifications</p>
					<ul>
						<li><a th:href="@{/api/v1/notifications/doctornotifications(source='doctordashboard')}">Notifications</a></li>
					</ul>
				</div>

			</div>
		</div>
		<!-- Include Footer Fragment -->
		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
	<script src="/js/dashboard.js"></script>
	<script>
		// Open the default tab on page load
		window.addEventListener('DOMContentLoaded', function() {
			const defaultButton = document
					.querySelector('[onclick*="Appointments"]');
			if (defaultButton) {
				defaultButton.click();
			}
		});
	</script>
</body>
</html>